
@font-face {
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
}

@font-face {
  font-family: 'Montserrat', sans-serif;
  font-weight: 900;
}

html {
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  color: #ffffff;
}

body {
  background-image: url('images/texture.jpg');
  padding: 10%;
}

h1 {
  font-family: 'Montserrat';
  font-weight: 900;
  font-size: 12.8vw;
  color: #ffffff;
  margin-top: 8vw;
  padding-bottom: 4vw;
}

h2 {
  background-color: #f24f09;
  margin-left: -14%;
  padding-left: 14%;
  margin-top: 8%;
}

p {
  text-align: justify;
  text-shadow: 0px 0px 10px rgb(0,0,0);
}

a, a:visited {
  color: #f24f09;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.content {
  background-color: #434b4f;
  margin: 0 -15%;
  padding: 0 14%;
}
