
@font-face {
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
}

@font-face {
  font-family: 'Montserrat', sans-serif;
  font-weight: 900;
}

html {
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  color: #ffffff;
}

body {
  background-image: url('images/texture.jpg');
  padding: 10%;
}

h1 {
  font-family: 'Montserrat';
  font-weight: 900;
  font-size: 12.8vw;
  color: #ffffff;
  margin-top: 8vw;
  padding-bottom: 4vw;
}

a, a:visited {
  color: #f24f09;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
)
